
<h3>Edit User:</h3>
<form (ngSubmit)="onUsernameFormSubmit(userOnForm.username)" #editUsernameForm="ngForm">

  <div class="container form-group">
    <label for="userEditName">Username:</label>
    <input #username="ngModel" id="userEditName" class="form-control" type="text" name="username" [ngModel]="userSvc.user.username" (ngModelChange)="onChange($event, 'username')" required minlength="2" maxlength="20" appUsernameValidator/>
    <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
      <p *ngIf="username?.errors.required">Username is required</p>
      <p *ngIf="username?.errors.minlength">Username must be between 2-20 characters</p>
      <p *ngIf="username?.errors.appUsernameValidator">Username must be alphanumeric only</p>
    </div>
    <p *ngIf="userExists" class="alert alert-danger">Sorry. That name is unavailable. Please choose a different name.</p>
  </div>
  <button class="btn btn-success" [disabled]="!editUsernameForm.form.valid || !username.touched || !username.dirty || userOnForm.username == userSvc.user.username"> <!-- button disabled if there are errors-->
    Update Username
  </button>
</form>

<form (ngSubmit)="onEmailFormSubmit(userOnForm.email)" #editEmailForm="ngForm">
  <div class="container form-group">
    <label for="userEditEmail">Email:</label>
    <input #email="ngModel" id="userEditEmail" class="form-control" type="email" name="email" [ngModel]="userSvc.user.email" (ngModelChange)="onChange($event, 'email')" required appEmailValidator maxlength="254" />
    <div *ngIf="email.errors && (email.dirty || email.touched)">
      <p *ngIf="email?.errors.required" class="alert alert-danger">Email is required</p>
      <p *ngIf="email?.errors.appEmailValidator" class="alert alert-danger">Email must be valid</p>
    </div>
  </div>
  <button class="btn btn-success" [disabled]="!editEmailForm.form.valid || !email.touched || !email.dirty || userOnForm.email == userSvc.user.email"> <!-- button disabled if there are errors-->
    Update Email
  </button>
</form>

<form (ngSubmit)="onBioFormSubmit(userOnForm.bio)" #editBioForm="ngForm">
  <div class="container form-group">
  <label for="userEditBio">Change bio:</label>
  <textarea #bio="ngModel" id="userEditBio" class="form-control" name="bio" [ngModel]="userSvc.user.bio" (ngModelChange)="onChange($event, 'bio')" style="resize:none" maxlength="1500"></textarea>
  <span *ngIf="bio.touched || bio.dirty"><em>{{ 1500 - userOnForm.bio?.length }} characters left</em></span>
  </div>
  <button class="btn btn-success" [disabled]="!editBioForm.form.valid || !bio.touched || !bio.dirty || userOnForm.bio == userSvc.user.bio"> <!-- button disabled if there are errors-->
    Update Bio
  </button>
</form>

  <ng-container *ngIf="loading">
    <img src="https://wubook.net/shstatic/imgs/cloading.gif" width="64px" alt="loader"/>
  </ng-container>

  <h3 class="margin-top margin-bottom">Danger Zone:</h3>
  <button class="btn btn-danger margin-bottom" (click)="deleteUser(userSvc.user.id)">
    Delete Your Account
  </button>

<!--<div [hidden]="email.valid || email.pristine"-->
<!--class="alert alert-danger">-->
<!--Email is required.-->
<!--</div>-->
