
<h3>Edit User:</h3>
<form (ngSubmit)="onSubmit()" #editUserForm="ngForm">

  <div class="container form-group">

    <!--<input type="hidden" name="id" [(ngModel)]="userSvc.user.id" value="{{userSvc.user.id}}">-->

    <label for="userEditName">Username:</label>
    <input id="userEditName" class="form-control" type="text" name="username" [(ngModel)]="userSvc.user.username" required #username="ngModel">
    <div [hidden]="username.valid || username.pristine"
         class="alert alert-danger">
      Username is required.
    </div>
    <div *ngIf="userExists" class="alert alert-danger">Sorry. A user with that username already exists. Choose a different name</div>

    <label for="userEditEmail">Email:</label>
    <input id="userEditEmail" class="form-control" type="text" name="email" [(ngModel)]="userSvc.user.email" required #email="ngModel">
    <div [hidden]="email.valid || email.pristine"
         class="alert alert-danger">
      Email is required.
    </div>

    <label for="userEditBio">Bio:</label>
    <textarea id="userEditBio" class="form-control" name="bio" [(ngModel)]="userSvc.user.bio" style="resize:none">{{userSvc.user.bio}}</textarea>
  </div>
  <button class="btn btn-success" [disabled]="!editUserForm.form.valid"> <!-- button disabled if there are errors-->
    Save Changes
  </button>

</form>


<h3>Danger Zone:</h3>
    <h3>Remove Account:</h3>
    <button class="btn btn-danger" (click)="deleteUser(user)">
    Delete Your Account
    </button>
