<div class="flex-center" *ngIf="user == null">
  <div>You must be <span><a routerLink="/login">logged in</a></span> to make comments</div>
</div>

<mat-divider></mat-divider>

<div class="margin-top margin-bottom-lg" *ngIf="user != null">
  <form (ngSubmit)="onSubmit()" [formGroup]="commentForm">

    <mat-form-field class="example-full-width" style="width: 100%;" hintLabel="">
      <mat-label>Add a comment...</mat-label>
      <textarea matInput matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=20 (focus)="toggleCommentCancelSubmit()" formControlName="body" maxlength="1500"></textarea>
      <mat-hint align="left">{{commentForm.controls['body'].value?.length || 0}}/1500</mat-hint>
    </mat-form-field>

    <div class="float-rt" *ngIf="showCommentCancelSubmit">
      <button mat-button (click)="cancelComment()">CANCEL</button>
      <button mat-flat-button type="submit" [disabled]="commentForm.pristine || commentForm.controls['body'].value.length < 1 || commentForm.controls['body'].value.length > 1500">SUBMIT</button>
    </div>
  </form>
</div>
<mat-spinner class="center margin-top margin-bottom" *ngIf="loading" [diameter]="30"></mat-spinner>
