<div class="flex-center" *ngIf="loggedInUser == null">
  <div>You must be <span><a routerLink="/login">logged in</a></span> to join the discussion</div>
</div>

<mat-divider></mat-divider>


<div class="margin-top" *ngIf="loggedInUser != null">
  <form (ngSubmit)="onSubmit()" [formGroup]="commentForm">

    <mat-form-field class="example-full-width" style="width: 100%;">
      <mat-label>Add a comment...</mat-label>
      <textarea matInput matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=20 (focus)="toggleCommentCancelSubmit()" formControlName="body"></textarea>
    </mat-form-field>

    <div class="float-rt" *ngIf="showCommentCancelSubmit">
      <button mat-button (click)="cancelComment()">CANCEL</button>
      <button mat-flat-button type="submit" [disabled]="commentForm.pristine || commentForm.controls['body'].value.length < 1">SUBMIT</button>
    </div>
  </form>
</div>
