<nav class="navbar navbar-expand-lg navbar-light margin-bottom">
  <a class="navbar-brand" routerLink="">Angular 5 trainingapp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <!--<li>-->
        <!--<form class="form-inline my-2 my-lg-0">-->
          <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
          <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
      <!--</li>-->

      <!--<div *ngIf="condition; then thenBlock else elseBlock"></div>-->
      <!--<ng-template #thenBlock>Content to render when condition is true.</ng-template>-->
      <!--<ng-template #elseBlock>Content to render when condition is false.</ng-template>-->

      <!--<span *ngIf>-->
        <!--if user is NOT logged in-->
      <ng-container *ngIf="userSvc.loggedInUser == null">
        <li class="nav-item"><a routerLink="/register" class="nav-link">Register</a></li>
        <li class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li>
      </ng-container>
      <!--use a popover-->
      <!--</span>-->

      <!--if user IS logged in-->
      <ng-container *ngIf="userSvc.loggedInUser != null">
        <li class="nav-item"><a routerLink="/post/create" class="nav-link">Create Post</a></li>
        <li class="nav-item"><a routerLink="/user/profile/my-profile/{{userSvc.loggedInUser.id}}/{{userSvc.loggedInUser.username}}" class="nav-link">My Profile</a></li>
        <li class="nav-item nav-link" style="cursor: pointer" (click)="logout()">Logout</li>
      </ng-container>
    </ul>
  </div>
</nav>
