.mat-toolbar {
  margin-bottom: 50px !important;
}

.mat-toolbar-row {
  background-color: var(--main-nav-background);
  color: var(--main-og-blue);
  font-size: 16px;
  cursor: pointer;
  /*box-shadow: 0px 0px 20px darkgrey;*/
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  padding: 0 14px;
}

.brand-name {
  font-size: 24px;
  cursor: pointer;
}

