<div class="container margin-bottom">

  <h1 [innerHTML]="post.htmlTitle">{{post.title}}</h1>
  <h2 [innerHTML]="post.htmlSubtitle">{{post.subtitle}}</h2>

  By: <a routerLink="/user/profile/{{post.user?.id}}/{{post.user?.username}}" class="margin-right">{{post.user?.username}}</a>
  <span class="margin-right-lt">{{post.hoursMinutes}}</span><span class="margin-right">{{post.formatDate}}</span>
  <i class="fa fa-thumbs-up margin-right-lt"></i>{{post.voteCount}}
  <div [innerHTML]="post.htmlLeadImage" id="index-post-image">{{post.leadImage}}</div>
  <div [innerHTML]="post.htmlBody">{{post.body}}</div>

  <div class="vote-options-row">
    <div class="thumbs-wrapper">
      <a routerLink="/login" class="margin-right-lt"><i class="fas fa-2x fa-thumbs-up"></i></a>
      <span class="margin-right-lt">{{post.voteCount}}</span>
      <a routerLink="/login"><i class="fas fa-2x fa-thumbs-down"></i></a>
    </div>

    <div ngbDropdown class="d-inline-block" *ngIf="isOwnPost">
      <i class="fas fa-ellipsis-h options-ellipsis dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle></i>

      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="edit-delete-dropdown">
        <div>
          <a routerLink="/post/edit/id/{{post.id}}" class="dropdown-edit-btn">
            <i class="fas fa-edit"></i> edit
          </a>
        </div>
        <div>
          <button (click)="deletePost(post.id)" class="dropdown-delete-btn">
            <i class="fas fa-trash"></i> delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



