<div class="container">
    <h3 [innerHTML]="post.htmlTitle">{{post.title}}</h3>
    <h4 [innerHTML]="post.htmlSubtitle">{{post.subtitle}}</h4>

    By: <a routerLink="/profile/{{post.user.id}}/{{post.user.username}}" class="margin-right">{{post.user.username}}</a>
    <span class="margin-right-lt">{{post.hoursMinutes}}</span><span class="margin-right">{{post.formatDate}}</span>
    <i class="fas fa-thumbs-up margin-right-lt"></i>{{post.voteCount}}
   <div [innerHTML]="post.htmlLeadImage" id="index-post-image">{{post.leadImage}}</div>
</div>
