<div class="container margin-bottom">
  <h1 [innerHTML]="post.htmlTitle">{{post.title}}</h1>
  <h2 [innerHTML]="post.htmlSubtitle">{{post.subtitle}}</h2>

  By: <a routerLink="/user/profile/{{post.user.id}}/{{post.user.username}}" class="margin-right">{{post.user.username}}</a>
  <span class="margin-right-lt">{{post.hoursMinutes}}</span><span class="margin-right">{{post.formatDate}}</span>
  <i class="fa fa-thumbs-up margin-right-lt"></i>{{post.voteCount}}
  <div [innerHTML]="post.htmlLeadImage" id="index-post-image">{{post.leadImage}}</div>
  <div [innerHTML]="post.htmlBody">{{post.body}}</div>

  <div class="vote-options-row">
    <div class="thumbs-wrapper">
      <a routerLink="/login" class="margin-right-lt"><i class="fa fa-2x fa-thumbs-up"></i></a>
      <span class="margin-right-lt">{{post.voteCount}}</span>
      <a routerLink="/login"><i class="fa fa-2x fa-thumbs-down"></i></a>
    </div>

    <div ngbDropdown class="d-inline-block">
      <i class="fa fa-ellipsis-h fa-lg options-ellipsis dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle></i>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="edit-delete-dropdown">
        <div>
          <a href="/posts/{{post.id}}/edit" class="dropdown-edit-btn">
            <i class="fa fa-edit"></i> edit
          </a>
        </div>
        <div>
          <a ng-click="deletePost(post)" class="dropdown-delete-btn">
            <i class="fa fa-trash-o"></i> delete
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



