/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



:root {
  --main-bg-color: #fffafb;
  --main-nav-background: #3f403c;
  --main-og-blue: #7DE2D1;
  --main-blue: #0bd8ff;
  --main-blue-hover: #339989;
  --main-login-green: lime;
  --main-neon-green: #50f9b7;
  --main-pink: #fc32be;
  --main-pink-alt: #ed5f79;
  --main-red: #a94442;
  --main-red-lite: #f2dede;
  --main-yellow: #f1ff40;
  --main-orange: #E07A5F;
  --main-dark-gray: #373737;
  --main-gray: #888888;
  --main-light-gray: #c0c0c0;
  --main-font-size: 14px;
  --main-font: Roboto, sans-serif;
  /*--main-font-logo: East Sea Dokdo, regular;*/
  --main-font-logo: Big John, regular;
  --main-font-post: Oswald, regular, sans-serif;
  --main-font-subtitle: Playfair Display, regular;
}

.editor-statusbar .lines:before {
  content: 'lines：' !important;
}

.editor-statusbar .words:before {
  content: 'words：' !important;
}
.flex-center {
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}

.hidden {
  display: none;
}

.margin-top {
  margin-top: 25px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.margin-bottom-lg {
  margin-bottom: 50px;
}

.margin-right {
  margin-right: 20px;
}

.margin-right-sm {
  margin-right: 10px;
}

.margin-left-sm {
  margin-left: 10px;
}

.margin-right-xsm {
  margin-right: 5px;
}

.margin-left-xsm {
  margin-left: 5px;
}

body {
  background-color: var(--main-bg-color) !important;
}

/*.navbar {*/
  /*background-color: var(--main-bg-color) !important;*/
/*}*/

/*.nav-tabs .nav-link.active {*/
  /*background-color: var(--main-bg-color) !important;*/
  /*border-color: #dee2e6 #dee2e6 var(--main-bg-color);*/
/*}*/


.CodeMirror-scroll {
  max-height: 300px;
}
.CodeMirror-fullscreen.CodeMirror {
  max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
  max-height: none;
}

.posts-hr {
  border-top: 5px solid var(--main-pink);
  width: 8%;
  margin-bottom: -10px;
}

.post-wrapper {
  margin-bottom: 40px;
}



#profile-post-image > p > img {
  max-width:300px;
}

#index-post-image > p > img {
  max-width:600px;
}

#post-wrapper-show-page {
  margin-bottom: 65px;
}

.upvoteIcon, .downvoteIcon {
  color: #8c8c8c;
}

.upvoteIcon:hover {
  color: #5bc0de;
  cursor: pointer;
}

.upvoteActive {
  color: #1b6d85;
}

.downvoteIcon:hover {
  color: #ce8483;
  cursor: pointer;
}

.downvoteActive {
  color: #761c19;
}

.dropdown-container {
  position: relative;
}

.edit-delete-dropdown {
  position: absolute;
  text-align: center;
}

.dropdown-edit-btn, .dropdown-delete-btn {
  display: block;
  text-align: center;
  border: none;
  background-color: #fffafc;
  padding: 1em;
  width: 100%;
}

.dropdown-edit-btn:hover, .dropdown-delete-btn:hover {
  text-decoration: none;
  cursor: pointer;
}

.options-ellipsis:hover {
  cursor: pointer;
}

.vote-options-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.dropdown-toggle:empty::after {
  display: none;
}


/*================= forms =============*/
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

/**:focus {*/
  /*outline: none !important;*/
  /*border: 0 !important;*/
/*}*/
