<div class="comment" [ngClass]="comment.hasBeenDeleted == true ? 'commentDeleted' : ''">
  <div *ngIf="!showEditCommentForm">
    <span class="margin-right-sm">By:</span><span class="comment-username cursor margin-right" routerLink="/user/profile/{{comment.user.id}}/{{comment.user.username}}">{{comment.user.username}}</span>
    <span class="margin-right-sm">{{comment.hoursMinutes}}</span><span class="margin-right">{{comment.formatDate}}</span>
  </div>
  <div *ngIf="!showEditCommentForm">
    <div *ngIf="!comment.hasBeenDeleted">{{comment.body}}</div>
    <div *ngIf="comment.hasBeenDeleted">[deleted]</div>
  </div>
  <div *ngIf="showEditCommentForm">
    <!--<form (ngSubmit)="onSubmit()" [formGroup]="commentForm">-->

      <mat-form-field class="example-full-width" style="width: 100%;" hintLabel="">
        <textarea matInput autofocus matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=20 formControlName="body" maxlength="1500">{{comment.body}}</textarea>
        <!--<mat-hint align="left">{{commentForm.controls['body'].value?.length || 0}}/1500</mat-hint>-->
        <!--<mat-hint align="left">{{comment.body.length}}/1500</mat-hint>-->
      </mat-form-field>

      <div class="float-rt">
        <button mat-button (click)="cancelComment()">CANCEL</button>
        <!--<button mat-flat-button type="submit" [disabled]="commentForm.pristine || commentForm.controls['body'].value.length < 1 || commentForm.controls['body'].value.length > 1500">SUBMIT</button>-->
      </div>
    <!--</form>-->
  </div>

  <div class="thumbs-wrapper" *ngIf="userSvc.loggedInUser == null">
    <button mat-icon-button routerLink="/login" class="cursor margin-left-xsm margin-right-xsm"><mat-icon>thumb_up</mat-icon></button>
    <span class="margin-left-xsm margin-right-xsm">{{comment.voteCount}}</span>
    <button mat-icon-button routerLink="/login" class="cursor margin-left-xsm margin-right-xsm"><mat-icon>thumb_down</mat-icon></button>
  </div>
  <div class="flex-align" *ngIf="userSvc.loggedInUser != null && !showEditCommentForm">
    <button *ngIf="!comment.hasBeenDeleted" mat-icon-button class="cursor margin-left-xsm margin-right-xsm" (click)="commentVote(comment.id, userSvc.loggedInUser.id, 1)"><mat-icon [ngClass]="comment.userVote == 1 ? 'voteUpIconActive' : 'voteUpIcon'">thumb_up</mat-icon></button>
    <button *ngIf="comment.hasBeenDeleted" mat-icon-button class="margin-left-xsm margin-right-xsm"><mat-icon>thumb_up</mat-icon></button>
    <span class="margin-left-xsm margin-right-xsm">{{comment.voteCount}}</span>
    <button *ngIf="!comment.hasBeenDeleted" mat-icon-button class="cursor margin-left-xsm margin-right-xsm" (click)="commentVote(comment.id, userSvc.loggedInUser.id, -1)"><mat-icon [ngClass]="comment.userVote == -1 ? 'voteDownIconActive' : 'voteDownIcon'">thumb_down</mat-icon></button>
    <button *ngIf="comment.hasBeenDeleted" mat-icon-button class="margin-left-xsm margin-right-xsm"><mat-icon>thumb_down</mat-icon></button>

    <span class="margin-left">
      <mat-icon [matMenuTriggerFor]="appMenu" *ngIf="isOwnComment && !comment.hasBeenDeleted" class="cursor">more_horiz</mat-icon>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="comment_remove" class="dropdown-delete-btn"><mat-icon>delete</mat-icon>delete?</button>
        <button mat-menu-item (click)="toggleEditCommentForm()" class="dropdown-edit-btn"><mat-icon>edit</mat-icon>edit</button>
        <mat-menu #comment_remove="matMenu">
          <button mat-menu-item (click)="deleteComment(comment.id)">
            <mat-icon>done</mat-icon>
            <span>delete</span>
          </button>
        </mat-menu>
      </mat-menu>
    </span>
  </div>



</div>
