<div class="comment" [ngClass]="comment.hasBeenDeleted == true ? 'commentDeleted' : ''">
  <span class="margin-right-sm">By:</span><span class="comment-username cursor margin-right" routerLink="/user/profile/{{comment.user.id}}/{{comment.user.username}}">{{comment.user.username}}</span>
  <span class="margin-right-sm">{{comment.hoursMinutes}}</span><span class="margin-right">{{comment.formatDate}}</span>
  <div *ngIf="!comment.hasBeenDeleted">{{comment.body}}</div>
  <div *ngIf="comment.hasBeenDeleted">[deleted]</div>

  <div id="commentEditForm">

  </div>

  <div class="thumbs-wrapper" *ngIf="userSvc.loggedInUser == null">
    <button mat-icon-button routerLink="/login" class="cursor margin-left-xsm margin-right-xsm"><mat-icon>thumb_up</mat-icon></button>
    <span class="margin-left-xsm margin-right-xsm">{{comment.voteCount}}</span>
    <button mat-icon-button routerLink="/login" class="cursor margin-left-xsm margin-right-xsm"><mat-icon>thumb_down</mat-icon></button>
  </div>
  <div class="flex-align" *ngIf="userSvc.loggedInUser != null">
    <button *ngIf="!comment.hasBeenDeleted" mat-icon-button class="cursor margin-left-xsm margin-right-xsm" (click)="commentVote(comment.id, userSvc.loggedInUser.id, 1)"><mat-icon [ngClass]="comment.userVote == 1 ? 'voteUpIconActive' : 'voteUpIcon'">thumb_up</mat-icon></button>
    <button *ngIf="comment.hasBeenDeleted" mat-icon-button class="margin-left-xsm margin-right-xsm"><mat-icon>thumb_up</mat-icon></button>
    <span class="margin-left-xsm margin-right-xsm">{{comment.voteCount}}</span>
    <button *ngIf="!comment.hasBeenDeleted" mat-icon-button class="cursor margin-left-xsm margin-right-xsm" (click)="commentVote(comment.id, userSvc.loggedInUser.id, -1)"><mat-icon [ngClass]="comment.userVote == -1 ? 'voteDownIconActive' : 'voteDownIcon'">thumb_down</mat-icon></button>
    <button *ngIf="comment.hasBeenDeleted" mat-icon-button class="margin-left-xsm margin-right-xsm"><mat-icon>thumb_down</mat-icon></button>

    <span class="margin-left">
      <mat-icon [matMenuTriggerFor]="appMenu" *ngIf="isOwnComment && !comment.hasBeenDeleted" class="cursor">more_horiz</mat-icon>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="comment_remove" class="dropdown-delete-btn"><mat-icon>delete</mat-icon>delete?</button>
        <button mat-menu-item (click)="showEditForm()" class="dropdown-edit-btn"><mat-icon>edit</mat-icon>edit</button>
        <mat-menu #comment_remove="matMenu">
          <button mat-menu-item (click)="deleteComment(comment.id)">
            <mat-icon>done</mat-icon>
            <span>delete</span>
          </button>
        </mat-menu>
      </mat-menu>
    </span>
  </div>



</div>
